---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

a.site-title > .char1, 
a.site-title > .char2, 
a.site-title > .char3, 
a.site-title > .char4, 
a.site-title > .char5, 
a.site-title > .char6 { 
	font-family: 'Lobster', cursive;
	font-weight: 400;
	font-size: 56px;

}

a.site-title > .char7, 
a.site-title > .char8, 
a.site-title > .char9, 
a.site-title > .char10, 
a.site-title > .char11, 
a.site-title > .char12, 
a.site-title > .char13, 
a.site-title > .char14 { 
	font-family: 'Share Tech Mono', monospaces;
	font-weight: 400;
	font-size: 56px;

}

a.site-title:hover > .char1, 
a.site-title:hover > .char2, 
a.site-title:hover > .char3, 
a.site-title:hover > .char4, 
a.site-title:hover > .char5, 
a.site-title:hover > .char6 { 
	font-family: 'Share Tech Mono', monospaces;
}

a.site-title:hover > .char7, 
a.site-title:hover > .char8, 
a.site-title:hover > .char9, 
a.site-title:hover > .char10, 
a.site-title:hover > .char11, 
a.site-title:hover > .char12, 
a.site-title:hover > .char13, 
a.site-title:hover > .char14 { 
	font-family: 'Lobster', cursive;
}

a.site-title:hover {
	text-decoration: none;	
}